

.blue-rectangle-layer-2 {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    background-color: #0A15A7;
    position: absolute;
    top: 850px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}



/* FORM SYLING */
.contact-us-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.glass {
    background: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(225, 225, 225, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.contact-us-form input {
    width: 480px;
    height: 42px;
    border-radius: 30px;
    padding-left: 30px;
}

.contact-us-form textarea {
    width: 450px; 
    padding: 30px 30px;
    border-radius: 30px;
    resize: none;
}

.service-btn-container {
    width: 510px;
}

.service-btn-container div {
    display: flex;
    justify-content: space-between;
}

.service-btn-container button {
    padding: 10px; 
    border: 1px solid gray; 
    border-radius: 30px; 
    font-size: 12px;
    padding: 14px 35px;
    background-color: transparent;
    color: white;
}

.service-btn-container button:hover {
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
}

.form-submit-btn {
    margin-top: 30px;
    border-radius: 30px;
    padding: 14px 35px;
    background-color: white;
    color: black;
}


/* CONTACT US MORE INFOS SECTION */
.contact-us-more-info-section {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-more-info-section .medias-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(0); 
    transition: all 1s ease;
}

.medias-container.in-view {
    opacity: 1;
    animation: bottom-top-appear 1s ease-in-out forwards;
}

.copyright {
    margin-top: 260px;
    opacity: 0;
    transform: translateY(0);
    transition: all 1s ease;
}

.copyright.in-view {
    opacity: 1;
    animation: bottom-top-appear 1s ease-in-out forwards;
}

@keyframes bottom-top-appear {
    from {
        opacity: 0;
        transform: translateY(var(--start-position, 300px)); /* Default 300px for right */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.media-icon {
    font-size: 24px;
}


.contact-us-more-info-section-header {
    font-size: 50px;
    margin: 0px;
    width: 500px;
    align-self: flex-start;
    opacity: 0;
    transform: translateY(0); 
    transition: all 1s ease;
}

.contact-us-more-info-section-header.in-view {
    opacity: 1;
    animation: top-bottom-appear 1s ease-in-out forwards;
}

@keyframes top-bottom-appear {
    from {
        opacity: 0;
        transform: translateY(var(--start-position, 300px)); /* Default 300px for right */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
