

.blue-rectangle-layer-2 {
    width: 100%;
    height: 450px;
    border-radius: 20px;
    background-color: #0A15A7;
    position: absolute;
    top: 850px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.contact-us-form input {
    width: 480px;
    height: 42px;
    border-radius: 30px;
    border: 1px solid gray;
    padding-left: 30px;
}

.contact-us-form textarea {
    width: 450px; 
    padding: 30px 30px;
    border-radius: 30px;
}

.service-btn-container div {
    display: flex;
    justify-content: space-between;
}

.service-btn-container button {
    padding: 10px; 
    border: 1px solid gray; 
    border-radius: 30px; 
    font-size: 12px;
    padding: 14px 35px;
    background-color: transparent;
    color: white;
}

.service-btn-container button:hover {
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
}

.form-submit-btn {
    margin-top: 30px;
    border-radius: 30px;
    padding: 14px 35px;
    background-color: white;
    color: black;
}


/* CONTACT US MORE INFOS SECTION */
.contact-us-more-info-section {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-more-info-section .medias-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-icon {
    font-size: 24px;
}