
.content-layer {
    position: relative;
    z-index: 10;
    justify-content: center;
}


/* ELLISPE BLUR LAYER */

.ellipse2-blur-layer {
    width: 480px;
    height: 480px;
    border-radius: 100%;
    background-color: #000000;
    /* border: 2px solid white; */
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.ellipse3-blur-layer {
    width: 276px;
    height: 276px;
    border-radius: 100%;
    background-color: #0A15A7;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    filter: blur(100px);
}

.ellipse4-blur-layer {
    width: 173px;
    height: 173px;
    border-radius: 100%;
    background-color: #0A15A7;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    filter: blur(20px);
}

.ellipse5-blur-layer {
    width: 276px;
    height: 276px;
    border-radius: 100%;
    background-color: #0A15A7;
    position: absolute;
    top: 375px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    filter: blur(100px);
}


/* PAGE-HEADER  AND ANIMATION */
.page-header {
    text-align: center; 
    margin-top: 150px;
    animation: bottom-fade-in 1.2s ease-out forwards;
}

@keyframes bottom-fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* SHOWCASING-CONTAINER */
.showcase-image {
    width: 300px;
}

.show-1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.show-3 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* PROJECTS DISPLAY CONTAINER */
.projects-display-container {
    margin-top: 30px;
}

.projects-display-container .filters-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.filters-container button {
    padding: 10px; 
    border: 1px solid gray; 
    border-radius: 20px; 
    font-size: 12px;
}

.filters-container button:hover {
    cursor: pointer;
    background-color: white;
    color: #000000;
    border: 1px solid white;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    margin-top: 30px
}

.load-more-btn {
    padding: 10px 30px; 
    border: 1px solid gray; 
    border-radius: 20px; 
}

.load-more-btn-icon {
    margin-left: 10px;
}

.load-more-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #000000;
    border: 1px solid white;
}

/* CALL CONTAINER AND ANIMATION */

.call-container {
    width: 900px;
    opacity: 0;
    transform: translateY(0);
    transition: all 1s ease;
}

.call-container.in-view {
    opacity: 1;
    animation: fade-in 1.2s ease-out forwards; 
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(var(--start-position, 50px));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------------------- */

.request-service-btn {
    padding: 10px 30px; 
    border: 1px solid white; 
    border-radius: 20px; 
    background-color: white;
    color: black;
}

.request-service-btn:hover {
    background-color: #f0efef;
    border: 1px solid #f0efef;
}

.request-service-btn-icon {
    transform: rotate(315deg);
    color: #0A15A7;
    margin-left: 10px;
}



/* ARC BLUR LAYER STYLING */
.arc-blur-wrapper-1 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 1;
    filter: blur(50px); /* Applied to the whole arc shape */
    opacity: 0;
    transform: translateX(-50%) translateY(0);
    transition: all 1s ease;
}

.arc-blur-wrapper-2 {
    position: absolute;
    bottom: 100px;
    left: 50%;
    z-index: 1;
    filter: blur(50px); /* Applied to the whole arc shape */
    opacity: 0;
    transform: translateX(-50%) translateY(var(--start-position, 300px));
    transition: all 1s ease;
}

.arc-blur-wrapper-1.in-view, .arc-blur-wrapper-2.in-view {
    opacity: 1;
    animation: appear 1s ease-in-out forwards;
}

.arc-blur-layer-1 {
    --b: 100px; /* the boder thickness */
    --a: 90deg; /* control the progression */
    
    width: 400px;
    aspect-ratio: 1;
    padding: var(--b);
    border-radius: 50%;
    background: #0A15A7;
    --_g:/var(--b) var(--b) no-repeat
        radial-gradient(50% 50%,#000 97%,#0000);
    mask: top var(--_g),
        calc(50% + 50%*sin(var(--a))) 
        calc(50% - 50%*cos(var(--a))) var(--_g),
        linear-gradient(#0000 0 0) content-box intersect,
        conic-gradient(#000 var(--a),#0000 0);

    transform: rotate(90deg);
}

.arc-blur-layer-2 {
    --b: 100px; /* the boder thickness */
    --a: 90deg; /* control the progression */
    
    width: 400px;
    aspect-ratio: 1;
    padding: var(--b);
    border-radius: 50%;
    background: #0A15A7;
    --_g:/var(--b) var(--b) no-repeat
        radial-gradient(50% 50%,#000 97%,#0000);
    mask: top var(--_g),
        calc(50% + 50%*sin(var(--a))) 
        calc(50% - 50%*cos(var(--a))) var(--_g),
        linear-gradient(#0000 0 0) content-box intersect,
        conic-gradient(#000 var(--a),#0000 0);
    
    transform: rotate(270deg);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(var(--start-position, 300px));
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
