
/* SERVICE CARD STYLE */

.service-card {
    width: 280px;
}
 
.service-card img {
    width: 100%;
    border-radius: 20px;
}

.service-card h4 {
    margin-bottom: 0px;
    margin-top: 20px;
    color: #999999;
    font-size: 20px;
}

.service-card p {
    margin: 0px;
}

/* ------------------ */

.blue-rectangle-layer {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-color: #0A15A7;
    position: absolute;
    top: 830px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.services-cards-display-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.service-page-request-service-btn-container {
    text-align: center; 
    margin-top: 150px;
}

.why-choose-us-container {
    margin: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.wcu-image-bg {
    width: 442px; 
    border: 20px solid white; 
    border-radius: 20px;
    position: absolute;
}

.wcu-image-persona {
    width: 500px;
    position: absolute;
    top: -20px;
    left: 15px;
}

.blur-layer {
    width: 226px;
    height: 226px;
    border-radius: 100%;
    background-color: #0A15A7;
    position: absolute;
    bottom: -280px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    filter: blur(100px);
}

.why-choose-us-info p {
    font-size: 50px; 
    margin: 0px
}

/* ANIMATION */
.why-choose-us-image, .why-choose-us-info {
    opacity: 0;
    transform: translateX(0); 
    transition: all 1s ease;
}

.why-choose-us-info.in-view, .why-choose-us-image.in-view {
    opacity: 1;
    animation: element-appear 1s ease-in-out forwards;
}

@keyframes element-appear {
    from {
        opacity: 0;
        transform: translateX(var(--start-position, 300px)); /* Default 300px for right */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
