

.blue-rectangle-layer {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-color: #0A15A7;
    position: absolute;
    top: 830px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.services-cards-display-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.why-choose-us-container {
    margin: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.blur-layer {
    width: 226px;
    height: 226px;
    border-radius: 100%;
    background-color: #0A15A7;
    position: absolute;
    bottom: -280px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    filter: blur(100px);
}