body {
  margin: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

/* Default styles for #root */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

/* Specific styles for #root ONLY when on the HomePage */
#root.root-homepage {
  height: 100vh;
}

