body {
  margin: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
