body {
  margin: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

/* Default styles for #root */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

/* Specific styles for #root ONLY when on the HomePage */
#root.root-homepage {
  height: 100vh;
}


/* NAVBAR STYLING */
.app-nav-bar {
  height: 100px; 
  display: flex; 
  align-items: center;
  justify-content: space-between
}

.nav-links {
  list-style-type: none; 
  display: flex; 
  gap: 30px; 
  font-size: 18px;
  margin: 0px
}

.active-link {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 30px;
}

.inactive-link {
  color: white;
}

.mobile-menu {
  display: none;
}

.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 3001;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #0A15A7;
  border-radius: 5px;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.hamburger.open {
  display: flex !important;
}




/* PAGE HEADER STYLING */
.page-header h1 {
  font-size: 150px; 
  margin: 0px;
}

.page-header p {
  font-size: 50px;
  margin: 0px;
}
